body #btns {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
body #status {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 36px;
  color: white;
}

body #score {
  display: flex;
  justify-content: center;
  font-size: 24px;
}